<!DOCTYPE html>
<html>

<head>
  <title>Reloj multitarea</title>
  <style>
    #grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }

    #change {
      margin-top: 10%;
      grid-column: 1;
      grid-row: 1;
    }

    #functions {
      grid-column: 2;
      grid-row: 1;
    }
  </style>
</head>

<body>
  <div id="grid">
    <div id="change">
      <button id="watch_activation">Reloj</button>
      <br>
      <br>
      <button id="stopwatch_activation">Cronómetro</button>
      <br>
      <br>
      <button id="timer_activation">Temporizador</button>
      <br>
      <br>
    </div>
    <div id="functions">
      <div id="watch" hidden>
        <p>Reloj</p>
        <p id="watch_text">00:00:00</p>
      </div>
      <div id="stopwatch" hidden>
        <p>Cronómetro</p>
        <p id="stopwatch_text">00:00:00</p>
        <ul id="flags"></ul>
        <button id="stopwatch_start">Start</button>
        <button id="stopwatch_flag" disabled>Flag</button>
      </div>
      <div id="timer" hidden>
        <p>Temporizador</p>
        <p id="timer_text">00:00:00</p>
        <select id="timer_hours"></select>
        <select id="timer_mins"></select>
        <select id="timer_secs"></select>
        <br>
        <br>
        <button id="timer_start">Start</button>
        <button id="timer_pause" disabled>Pause</button>
        <button id="timer_stop" disabled>Stop</button>
        <button id="timer_restart" disabled>Restart</button>
      </div>
    </div>
  </div>
  <script src="/src/scripts/preload.js"></script>
  <script src="/src/scripts/watch.js"></script>
  <script src="/src/scripts/timer_object.js"></script>
  <script src="/src/scripts/timer_events.js"></script>
  <script src="/src/scripts/stopwatch_object.js"></script>
  <script src="/src/scripts/stopwatch_events.js"></script>
  <script src="/src/scripts/common.js"></script>
  <script src="/src/scripts/main.js"></script>
</body>

</html>